.btn {
  -webkit-transform: skewX(-12deg);
  -moz-transform: skewX(-12deg);
  -ms-transform: skewX(-12deg);
  transform: skewX(-12deg);
}

.text-btn {
  -webkit-transform: skewX(12deg);
  -moz-transform: skewX(12deg);
  -ms-transform: skewX(12deg);
  transform: skewX(12deg);
}
